<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/temperature.png">
        <link rel="stylesheet" href="/css/about.css">
    </head>

    <body>
        <div class="card">
        <div class="main-content">
            {{>header}}
         <img class="portrait" src="/img/wallpapersden.com_mortal-kombat-scorpion_1920x1080.jpg">
         <p>Hi! I'm Troy Cabayao 4th year college a student of Sorsogon State University taking up Bachelor of Science in Information Technology</p>
            <p>If you have any suggestions please feel free to email me.</p>
                <li>Email: protocol3162@gmail.com</li>
        </div>
        </br>
        <img class="portrait" src="/img/earl.jpg">
         <p>Im Earl Christian Lizada 4th year college a student of Sorsogon State University taking up Bachelor of Science in Information Technology</p>
            <p>If you have any suggestions please feel free to email me.</p>
                <li>Email: earlchristianlizada1998@gmail.com</li>

        {{>footer}}
    </body>
</html>