<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/temperature.png">
        
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>