<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/temperature.png">
        
    </head>
    
    <body>
        <center>
        <div class="main-content">
            <p>{{message}}</p>
        </div>
        </center>
    </body>
</html>