<!DOCTYPE html>

<html>
    <head>
        <title>Weather Today</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/temperature.png">
       
    </head>

    <body>
        <div class ="card">
        <div class="main-content">
             {{>header}}
             <p>Use this site for Weather Update</p>

              <form>
                  <input type="text" class="search-bar" placeholder="Search Location">
                  <button>Search</button>
              </form>

                <p id="message-1"></p>
                <p id="message-2"></p>

        </div>
       
        {{>footer}}
         <script src="/js/app.js"></script>
    </body>
</html>